
#ビルド差分
build
.dart_tool/flutter_build/
.dart_tool/package_config.json
.dart_tool/package_config_subset
.flutter-plugins
.flutter-plugins-dependencies
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Dart_SDK2.xml
.idea/libraries/Flutter_Plugins.xml
.idea/libraries/Flutter_Plugins2.xml
ios/Podfile.lock
ios/Runner.xcodeproj/project.pbxproj
ios/Runner/Info.plist

#個人PC名流出回避
.packages
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.proparties

